registry=https://appfolio.jfrog.io/artifactory/api/npm/appfolio-apm-mobile-npm/
//appfolio.jfrog.io/artifactory/api/npm/appfolio-apm-mobile-npm/:_authToken=${JFROG_ACCESS_TOKEN}
always-auth=true

@appfolio:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_NPM_TOKEN}

cache=tmp/node_cache
